*, ::before, ::after{ margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
button{ padding: 0; cursor: pointer;}
:disabled{ cursor: not-allowed;}
label{ display: inline-block;}
img{ vertical-align: bottom;}
ul{ list-style: none; padding: 0;}
iframe{ border: none;}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #484848;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}
.row{display: flex;flex-flow: row wrap;}
[class^="col-"]{flex: 1 0 auto;}
.col-1{flex-basis: 8.33%;max-width: 8.33%;}
.col-2{flex-basis: 16.66%;max-width: 16.66%;}
.col-3{flex-basis: 25%;max-width: 25%;}
.col-4{flex-basis: 33.33%;max-width: 33.33%;}
.col-5{flex-basis: 41.66%;max-width: 41.66%;}
.col-6{flex-basis: 50%;max-width: 50%;}
.col-7{flex-basis: 58.33%;max-width: 58.33%;}
.col-8{flex-basis: 66.66%;max-width: 66.66%;}
.col-9{flex-basis: 75%;max-width: 75%;}
.col-10{flex-basis: 83.33%;max-width: 83.33%;}
.col-11{flex-basis: 91.66%;max-width: 91.66%;}
.col-12{flex-basis: 100%;max-width: 100%;}
.flex{display: flex;}
.align-center{align-items: center;}
.justify-sp-bt{justify-content: space-between;}
.gp60{gap: 4rem 0;}
.text-center{text-align: center;}
.img-resp{width: 100%;height: auto;}
.order{order: 1;}

/* layout */
.wrap-1{background: #ffcb0f;padding: 10px 0;}
.wrap-1 ul li{margin: 0 10px;}
.wrap-1 i{padding-right: 5px;font-size: 15px;}

.wrap-2{background: #222533;padding: 20px 0;}
.wrap-2{position: sticky;top: 0;}
.wrap-2 .logo p{font-size: 24px;font-weight: bold;font-style: italic;color: #ffcb0f;}
.wrap-2 .logo span{color: #ffffff8a;font-size: 15px;}
.wrap-2 .navbar li{margin: 0 10px;line-height: 45px;}
.wrap-2 .navbar li a{color: #fff;font-size: 15px;padding: 0 5px;}
.wrap-2 a i{color: #ffcb0f;font-size: 15px;padding: 0 5px;line-height: 50px;margin: 0 5px;cursor: pointer;}
.wrap-2 input{height: 30px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    font-size: 15px;
    transition: all .4s linear;
    transform: scale(0);
    
}
.wrap-2 .search-box-mob{display: none;}
.wrap-2 #cut{display: none;}
.wrap-2 .navbar li:hover a{color: #ffcb0f;}

.btn-mob{border: 2px solid #ca3c3c;width: 90px;height: 35px;background: none;color: #ca3c3c;border-radius: 10px;font-weight: 400;}
.btn-mob span{display: block; height: 2px;background: #ca3c3c;margin: 5px 10px;transition: .4s;}
.btn-mob.active span{transform-origin: right center;}
.btn-mob.active span:nth-child(1){transform: rotate(-12deg);}
.btn-mob.active span:nth-child(2){opacity: 0;}
.btn-mob.active span:nth-child(3){transform: rotate(12deg);}
.btn-mob{display: none;}



.banner{
    background: url(img/banner.webp)no-repeat center top/cover;
    padding: 100px 0 200px;
    color: #fff;
    text-align: -webkit-center;
}
p.extra{display: none;}
.hide-btn{display: none;margin-bottom: 20px;}


.banner .figcaption{width: 50%;}
.banner .figcaption p:nth-child(1){font-size: 30px;}
.banner .figcaption h1{font-size: 47px;line-height: 1;padding: 10px 0 20px;}
.banner .figcaption h1 span{display: block;color: #ffc800;}
.banner .figcaption p{font-size: 15px;padding: 10px 0;}
/* .banner .figcaption .extra{display: none;} */
/* .banner .figcaption p+p:active{display: block;} */
.btn{background: #ffcb0f;border: none;font-size: 13px;width: 130px;line-height: 30px;font-weight: bold;color: #000;
    border-radius: 10px;
    padding: 5px 7px;
}
.btn:hover{background: #282828;color: #fff;}
.banner .btn{margin: 20px 20px 0;}

.wrap-3{color: #484848;}
.wrap-3 h2{padding: 25px 0 0;font-size: 40px;color: #614f0f;line-height: 1;}
.wrap-3 span{font-size: 30px;font-weight: bold;line-height: 1;padding-bottom: 10px;}
.wrap-3 p{font-size: 15px;padding: 10px 30px 10px 0;text-align: justify;}
.wrap-3 .btn{margin-top: 20px;}

.wrap-4{background: #f2f7fa;padding: 30px 0;color: #484848;}
.wrap-4 i{transition: .4s; border-radius: 50%;padding: 30px;margin: 25px 0 10px 0;font-size: 34px;background: radial-gradient(circle,#ffff00de,#ff0000bb); }
.wrap-4 h4+p{padding: 10px 40px;}
.wrap-4 i:hover{transform: scale(1.2);}

.wrap-5{padding: 40px 0;}
.wrap-5 .row div{padding: 30px 10px 0;text-align: left;}
.wrap-5 h4{padding: 15px 0;}
.wrap-5 p{padding-bottom: 15px;}

.wrap-6{background: url(img/bg-1.webp)no-repeat center top/cover;padding: 40px 0;color: #fff;}
.wrap-6 p{padding: 20px 0;}
.wrap-6 .menu{overflow-x: auto;}
.wrap-6 .menu ul{justify-content: center;padding: 15px 0 40px;}
.wrap-6 .menu ul li{margin: 0 5px;padding: 5px 5px;}
.wrap-6 .menu ul li a{color: #fff;padding: 5px 5px;font-size: 15px;white-space: nowrap;}
.wrap-6 .menu ul li:hover{background: #282828;border-radius: 20px;}
.wrap-6 .menu ul li.active{background: #282828;border-radius: 20px;}
.wrap-6 img{margin: 10px 0 0;padding-bottom: 20px;}
.wrap-6 .first-2 img{margin: 10px;padding: 0 5px;}
.wrap-6 .last-2 img{margin: 10px;padding: 0 5px;}


.wrap-7{padding: 30px 0;}
.wrap-7 .john-smith p{background: #e5e5e5;padding: 25px 40px;border-radius: 20px;margin-bottom: 20px;}
.wrap-7 .john-smith{margin: 10px 40px;}
.wrap-7 h2+p{padding: 20px 0;}
.wrap-7 .john-smith:hover p{background: #ffcb0f;transition: .4s;transform: scale(1.2);}
.wrap-7 h5{padding: 5px 0;}

.wrap-8{background: #ffcb0f;padding: 20px 0;}
.wrap-8 h2{color: #2f3240;}
.wrap-8 h2 span{display: block;font-weight: 400;}
.wrap-8 input{width: 240px;line-height: 10px;border: none;border-radius: 10px;padding: 10px;margin-bottom: 10px;}
.wrap-8 textarea{width: 320px;line-height: 8px;border: none;border-radius: 10px;padding: 10px;resize: none;}
.wrap-8 .btn{background: #2f3240;margin-left: 4px;padding: 3px 0;color: #fff;}
.wrap-8 .btn:hover{background: #000;}
.wrap-8 .message-box{gap: 20px;}

.wrap-9{padding: 50px 0 30px;background: url(img/last-bg.webp)no-repeat center top/cover;color: #fff;}
.wrap-9 ul li:first-child{padding-bottom: 20px;font-size: 20px;text-decoration: underline;}
.wrap-9 ul .logo{color: #ffcb0f;font-size: 24px; font-style: italic;font-weight: bold;padding: 10px 0;}
.wrap-9 ul .logo span{display: block;font-size: 15px;font-style: normal;color: #ffffff81;font-weight: 400;}
.wrap-9 ul li i{background: #ffcb0f;color: #000;border-radius: 50%;padding: 10px;margin: 15px 0;}
.wrap-9 ul li p{padding-right: 30px;}
.wrap-9 ul li a{color: #fff;font-size: 15px;}
.wrap-9 ul li a i{background: none;color: #fff;}

.wrap-10{color: #fff;background-color: #222533;padding: 20px 0;}

/* responsive */
@media screen and (max-width:1220px){
    .banner .figcaption {width: 70%;}

}
@media screen and (max-width:980px){
    .col-t-6{flex-basis: 50%;max-width: 50%;}
    .col-t-12{flex-basis: 100%;max-width: 100%;}
    .banner .figcaption {width: 90%;}
    .wrap-2 .navbar{display: block;}

    .wrap-3 h2 {font-size: 25px};
    .wrap-3 span {font-size: 18px;}
    .wrap-3 span {font-size: 19px;}
    .wrap-3 p {padding: 10px 0;}
    .wrap-3 .btn{margin: 5px;}
    .wrap-7 .john-smith {margin: 10px 25px;}
    .wrap-7 .john-smith p {padding: 25px 0px;}
    .wrap-8 input{width: 100%;}
    .wrap-8 textarea{width: 100%;}
    .wrap-8 .btn{width: 100%;}
    .wrap-9 ul li:first-child {padding: 20px 0 10px;}
    .wrap-8 .message-box{flex-direction: column;gap: 9px;}
}
@media screen and (max-width:767px){
    /* html{overflow-x: hidden;} */
    .wrap-1 ul{display: block;}
    .wrap-1 .contact-icon i{line-height: 60px;}
    .wrap-2 .navbar ul{display: none; padding-top: 15px;}
    .wrap-2 .search-box{display: none;}
    .wrap-2 .search-box-mob{display: flex;}
    .wrap-2 .navbar {text-align: -webkit-right;}
    .btn-mob{display: block;}
    .wrap-2 .logo span{font-size: 13px;}
    .wrap-2 .logo p {font-size: 22px;}
    .banner .figcaption h1 {font-size: 40px;}
    .wrap-3 h2 {font-size: 20px;}
    .wrap-3 span {font-size: 16px;}
    .wrap-8 h2 {font-size: 20px;}

    .wrap-2 .navbar li {line-height: 30px;}
}
@media screen and (max-width:460px){
    .col-p-12{flex-basis: 100%;max-width: 100%;}
    .order-1{order: -1;}
    .wrap-1 .contact-icon i{display: contents;}
    .banner .figcaption p:nth-child(1) {font-size: 18px;}
    .banner .figcaption h1 {font-size: 22px;padding: 5px 0;}
    .banner .figcaption p {font-size: 11px;}
    .wrap-6 .menu ul {padding: 15px 0 0px;}
    .wrap-6 .first-2 img{margin: 10px 0;padding: 0;}
    .wrap-6 .last-2 img{margin: 10px 0;padding: 0;}
    .wrap-7 .john-smith {margin: 10px 0px;}
    .wrap-8 h2{padding-bottom: 20px;}
    .wrap-2{position: relative;}
    .wrap-2 .navbar{position: absolute;right: 0px;padding-right: 10px;left: 0;}
    .wrap-2 .navbar ul{background: #222533;margin-top: 36px;margin-right: -10px;}
    .wrap-2 .search-box-mob {justify-content: flex-end;}


}